*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Proxima Nova Regular';
}

ul,
ol {
  padding-left: 20px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}